.gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.gameBoard {
    width: 450px;
    height: 450px;
}
.messageBox {
    text-align: center;
}
