.cross {
    background: white;
    height: 72%;
    position: relative;
    width: 10px;
    transform: rotate(45deg);
}

.cross::after {
     background: white;
     content: '';
     height: 10px;
     left: -47px;
     position: absolute;
     top: 46px;
     width: 104px;
 }
